<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAs6wrig1m_Y6K_sVYFRQ1Efgc76OjPmPo</string>
	<key>GCM_SENDER_ID</key>
	<string>593391527731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.IntroProject2105</string>
	<key>PROJECT_ID</key>
	<string>rn-introproject</string>
	<key>STORAGE_BUCKET</key>
	<string>rn-introproject.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593391527731:ios:c9908bd44803d8d719c046</string>
</dict>
</plist>